/* Constants */

*{
    -fx-backgroundGame-color: #333029;
    -fx-game-color: #333029;
}


.main-background {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url("../resources/mainBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.savedMatches-background {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url("../resources/savedMatchesScreen.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}


.match-background {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url("../resources/gameBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}


.repeat-background {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url("../resources/repeatLevelsBk.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.levels-background {
    -fx-background-color: #f0f0f0;
    -fx-background-image: url("../resources/levelsView.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.exit-transparent-button {
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/btnExit.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
}



.image-button, .image-button:pressed, .image-button:focused, .image-button:hover, .image-button:selected {
    -fx-background-image: url("../resources/btnPlay.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.imageExitMenu-button, .imageExitMenu-button:pressed, .imageExitMenu-button:focused, .imageExitMenu-button:hover, .imageExitMenu-button:selected {
    -fx-background-image: url("../resources/btnExitMenu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.imageSavedMatches-button, .imageSavedMatches-button:pressed, .imageSavedMatches-button:focused, .imageSavedMatches-button:hover, .imageSavedMatches-button:selected {
    -fx-background-image: url("../resources/btnSavedMatches.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.btnSaveNExit, .btnSaveNExit:pressed, .btnSaveNExit:focused, .btnSaveNExit:hover, .btnSaveNExit:selected, .btnSaveNExit:disabled {
    -fx-background-image: url("../resources/btnExitandSave.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.btnResume, .btnResume:pressed, .btnResume:focused, .btnResume:hover, .btnResume:selected, .btnResume:disabled {
    -fx-background-image: url("../resources/btnMovementResume.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.btnContinue, .btnContinue:pressed, .btnContinue:focused, .btnContinue:hover, .btnContinue:selected, .btnContinue:disabled {
    -fx-background-image: url("../resources/btnContinue.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}



.btnSaveNExit:hover {
    -fx-background-image: url("../resources/btnSaveOpen.png");
}

.main-backgroundGame {
    -fx-background-color: -fx-game-color;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.level-display{

    -fx-background-image: url("../resources/backLevel.png");
    -fx-background-size: stretch; 
    -fx-background-repeat: no-repeat;
}

.title1{
    -fx-image: url("../resources/title1.png");
}

.title2{
    -fx-image: url("../resources/title2.png");
}

.title3{
    -fx-image: url("../resources/title3.png");
}

.title4{
    -fx-image: url("../resources/title4.png");
}

.title5{
    -fx-font-family: Pinewood;
}


.transparent-tableview {
    -fx-background-color: transparent;
    -fx-border-color: #333029; /* Bordes blancos para el tableview */
    -fx-border-width: 2px;
    -fx-font-family: "SimSun-ExtB"; /* Configura la fuente SimSun-ExtB */
    -fx-font-size: 16px;
}

.transparent-tableview .table-row-cell {
    -fx-background-color: transparent; /* Fondo transparente para las filas */
}

.transparent-tableview .table-cell {
    -fx-border-color: #333029; /* Bordes blancos para las celdas */
    -fx-background-color: transparent; /* Fondo transparente para las celdas */
    -fx-text-fill: white; /* Texto blanco en las celdas */
    -fx-font-size: 16px;
}

.transparent-tableview .column-header-background {
    -fx-background-color: transparent; /* Fondo transparente para la cabecera */
}

.transparent-tableview .table-column .text {
    -fx-fill: white; /* Texto blanco en la cabecera */
    -fx-font-family: "SimSun-ExtB"; /* Configura la fuente para la cabecera */
    -fx-font-size: 16px;
}

.transparent-tableview .table-row-cell .text {
    -fx-fill: white; /* Asegura que el texto en las filas sea blanco */
    -fx-font-family: "SimSun-ExtB"; /* Asegura que la fuente sea SimSun-ExtB */
    -fx-font-size: 16px;
}